doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title= title + ' Keyboard shortcuts'
    meta(name="keywords" content=keywords)
    meta(name="description" content=description)
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet' type='text/css' href='styles/index.css')
    include /source/layouts/partials/favicon.pug
  body
    .container
      header.header
        span#title= title + ' Keyboard shortcuts'
      .content(aria-disabled="false" aria-labelledby="title")
        block content
    script(src='http://localhost:35729/livereload.js')
